
.productoDestacado{
    z-index: 9;
    padding-top: 90px;
    position: relative;
    .slider{
        overflow: hidden;
        .sliderContenedor{
            display: flex;
            width: 300vw;
            transition: all 1000ms ease-out;
            .sliderItem{
                width: 100vw;
            }
        }
    }
    .descripcionProducto{
        padding: 10px;
        align-items: center;
        display: flex;
        justify-content: space-around;
        background: linear-gradient(
            to bottom right,
            #FBCD38, #FCBB5B
        );
        .slider-titulo{
            h2{
                font-size: 25px;
                font-weight: 600;
            }
            h3{
                font-size: 40px;
                font-weight: 800;
            }
            h4{
                font-size: 15px;
                font-weight: 400;
            }
        }
        .slider-btn{
            margin-top: 10px;
            button{
                padding: 10px 15px;
                border: none;
                border-radius: 15px;
                background-color: $letras;
                color: $colorPrimario;
                cursor: pointer;
                a{
                    color: $colorPrimario;
                    text-decoration: none;
                }
            }
            button:hover{
                background-color: $blancoGris;
                color: $letras;
                transition: 0.5s ease-in-out;
            }
        }
        .slider-img{
            img{
                width: 180px;
            }
        }
    }
    .slider-botones{
        display: flex;
        justify-content: space-between;
        padding: 0px 10px;
        position: absolute;
        bottom: 0;
        width: 100%;
        button{
            background: none;
            border: none;
            color: rgb(0, 0, 0);
            outline: none;
            cursor: pointer;
            i{
                font-size: 35px;
            }
        }
    }
}