
.itemCount{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: auto;
    h2{
        font-size: 14px;
        display: flex;
    }
    h4{
        font-size: 10px;
        color: rgba(0, 0, 0, 0.349);
    }
    .buttonAdd{
        margin-top: 5px;
        background-color: $colorPrimario;
        color: #FFF;
        border: none;
        padding: 10px 5px;
        border-radius: 5px;
        cursor: pointer;
    }
    .count{
        width: 100%;
        height: 30px;
        background-color: #fff;
        border-radius: 5px;
        display: flex;
        align-items: center;
        justify-content: space-around;
        h3{
            font-size: 15px;
        }
        .contador{
            color: red;
        }
        .button1{
            padding: 0px 5px;
            border: none;
            color: $colorPrimario;
            font-size: 20px;
            font-weight: 800;
            background-color: #FFF;
            border-radius: 5px;
            cursor: pointer;
        }
    }
}

.cardList{
    display: flex;
    flex-wrap: wrap;
    padding: 20px;
    justify-content: space-around;
    .card{
        display: flex;
        flex-direction: column;
        width: 150px;
        background-color: $blancoGris;
        padding: 10px;
        border-radius: 10px;
        justify-content: space-between;
        margin-top: 10px;
        .cardImage{
            display: flex;
            flex-direction: column;
            align-items: center;
            img{
                border-radius: 10px;
                width: 90px;
            }
            h2{
                font-size: 16px;
                margin-top: 10px;
                color: rgba(0, 0, 0, 0.521);
            }
        }
        .cardPrice{
            h3{
                font-size: 15px;
            }
            a{
                color: black;
                font-size: 10px;
            }
        }
    }
}

.itemDetailContainer{
    .item{
        display: flex;
        width: 100%;
        height: 100vh;
        align-items: center;
        justify-content: center;
        .itemImg{
            img{
                height: 150px;
            }
        }
        .itemDetail{
            border: 1px solid lightgray;
            padding: 20px;
            .title{
                font-size: 28px;
            }
            .price{
                    font-weight: 800;
                    font-size: 23px;
            }
            .condition{
                color: $colorPrimario;
            }
            .favorite{
                display: flex;
                justify-content: space-between;
                align-items: center;
                i{
                    font-size: 20px;
                    cursor: pointer;
                    transition: 0.5s;
                }
                i:hover{
                    color: $colorPrimario;
                }
            }
            h5{
                font-size: 10px;
                color: rgba(0, 0, 0, 0.349);
                font-weight: 800;
            }
        }
    }
}
